{{! POST LAYOUT - PARTIAL }}
<article class="post">
    <div class="title">
        <h2>{{title}}</h2>
        <p>{{post_text}}</p>
        <a href="/post/{{id}}">Read more...</a>
    </div>

    <div class="meta">
        Post By {{user.username}} on {{format_date created_at}} |
        {{comments.length}} {{format_plural "comment" comments.length}}
    </div>
</article>