{{! POST LAYOUT - PARTIAL }}
<article class="post">
    <div class="title">
        <h2>{{title}}</h2>
        <p>{{post_text}}</p>
    </div>
    
    <div class="meta">
        Posted By {{user.username}} on {{format_date created_at}} |
        {{comments.length}} {{format_plural "comment" comments.length}}
        </div>  
    </div>
</article>