{{! POST LAYOUT - PARTIAL }}
<article class="post">
    <div class="title">
        <h2>{{title}}</h2>
        <h3>{{user.username}}</h3>
        <span>({{format_url post_url}})</span>
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        
    </div>

    <div class="meta">
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>